{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>CodeMitts</h1>
                    <p>Let the great experiment begin!</p>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <a
                        class="btn btn-lg btn-default btn-block"
                        href="/user/new">
                        Join this server
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Projects
                    </div>
                    <ul class="list-group">
                        {% for project in projects %}
                            <li class="list-group-item">
                                {{ project.name }}
                                {# TODO: implement inversed references for all models #}
                                <ul>
                                    {% for feature in project.features %}
                                        <li>{{ feature.name }}
                                            <ul>
                                                {% for task in feature.tasks %}
                                                    <li>{{ task.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="list-group-item">There's no projects</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Users
                    </div>
                    <div class="list-group">
                        {% for user in users %}
                            <a
                                href="/user/{{ user.username }}"
                                class="list-group-item">
                                {{ user.username }}
                            </a>
                        {% else %}
                            <li class="list-group-item">There's no users</li>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
