{% extends "base.html" %}

{% block content %}
    {% if not authenticated %}
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>CodeMitts</h1>
                        <p>Let the great experiment begin!</p>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <a
                            class="btn btn-lg btn-primary btn-block"
                            href="/user/new">
                            Join this server
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Projects
                        </div>
                        <div class="list-group">
                            {% for project in projects %}
                                <a
                                    class="list-group-item"
                                    href="/project/{{ project.name }}">
                                    {{ project.name }}
                                    <div class="badge">
                                        {{ project.quests|count}}
                                    </div>
                                </a>
                            {% else %}
                                <div class="list-group-item">There's no projects</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Users
                        </div>
                        <div class="list-group">
                            {% for user in users %}
                                <a
                                    href="/user/{{ user.username }}"
                                    class="list-group-item">
                                    {{ user.username }}
                                </a>
                            {% else %}
                                <li class="list-group-item">There's no users</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
